<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
  <title>Google Maps V3で地図を表示する</title> 
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbi26T3Zue22gdM6JWbcEZ_E7z1XNwFQA"></script>
  <script type="text/javascript">
    var  latitude = 0;
    var  longitude = 0;
    var msg = "Emtpy";

    function successCallback(position) {
      latitude = position.coords.latitude;
      longitude = position.coords.longitude;

      msg = "緯度:" + latitude + ", 経度:" + longitude;
    }

    function errorCallback(error) {
      latitude = 35.6471564;
      longitude = 139.7075454;

      msg = "Error occured";
    } 


    function getCurrentLocation() {
      var myLatLng = {lat: 0, lng: 0};
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        myLatLng = {lat: latitude, lng: longitude}
      }

      return myLatLng;
    }


    function getLocation() {
      var myLatLng = {lat: 0, lng: 0};
      if (GBrowserIsCompatible()){
        new GClientGoocoder().getLatLng(document.getElementById('address').value, function () {
          if (position) {
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;
          }
        });
      }
      myLatLng = {lat: latitude, lng: longitude}
      return myLatLng;
    }

    function showLocation(position) {
      document.getElementById('pos').innerText = msg;
      var map = document.getElementById("gmap"); 
      var options = { 
          zoom: 16, 
          //center: new google.maps.LatLng(latitude, longitude),
          center: position,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      }; 
      var map = new google.maps.Map(map, options); 

      var markerOpts = {
         position: position,
         map: map,
         title: 'Hello OpenShift'
      };
      var marker = new google.maps.Marker(markerOpts);
    }

    function showLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        document.getElementById('pos').innerText = msg;
      }
      var myLatLng = {lat: latitude, lng: longitude}
      var map = document.getElementById("gmap"); 
      var options = { 
          zoom: 16, 
          //center: new google.maps.LatLng(latitude, longitude),
          center: myLatLng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      }; 
      var map = new google.maps.Map(map, options); 

      var markerOpts = {
         position: myLatLng,
         map: map,
         title: 'Hello OpenShift'
      };
      var marker = new google.maps.Marker(markerOpts);
    }
  </script> 
  <!-- MapType, MapTypeId.ROADMAP, MapTypeId.SATELLITE, MapTypeId.HYBRID, MapTyeId.TERRAIN -->
</head> 
<body> 
  <form action="#" onsubmit="showLocation(getLocation()); return(false);">
    <input type="text" size="50" name="addresss" />
    <input type="submit" value="検索" />
  </form>

  <p><button onclick="showLocation(getCurrentLocation())">show my location</button></p>
  <p id="pos"></p>
  <div id="gmap" style="width : 500px; height : 500px;"></div> 
</body> 
</html> 
