<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
  <title>Google Maps V3で地図を表示する</title> 
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbi26T3Zue22gdM6JWbcEZ_E7z1XNwFQA"></script>
  <script type="text/javascript">
function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 8,
	    center: {lat: 35.6455761, lng: 139.7110421},
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	});
    var geocoder = new google.maps.Geocoder();
    
    document.getElementById('showLocation').addEventListener('click', function() {
	    geocodeAddress(geocoder, map);
	});
    
    document.getElementById('showCurrentLocation').addEventListener('click', function() {
	    currentLocation(map);
	});
}

function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('address').value;
    geocoder.geocode({'address': address}, function(results, status) {
	    if (status === google.maps.GeocoderStatus.OK) {
		resultsMap.setCenter(results[0].geometry.location);
		var marker = new google.maps.Marker({
			map: resultsMap,
			position: results[0].geometry.location
		    });
	    } else {
		alert('Geocode was not successful for the following reason: ' + status);
	    }
	});
}

function currentLocation(map) {
    var pos;
    if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(function(position) {
		map.setCenter(position);
		var makerOpts = new google.maps.Marker({
			position: position,
			map: map,
			title: 'You are here'
		    });
	    });
    }
    else {
	alert('Cannot get current location');
    }
}
  </script>
</head> 
<body onLoad="initMap()"> 
  <p>
    <button id="showCurrentLocation">"You Are Here!"</button>
    <input id="address" type="text" size="50" />
    <button id="showLocation">Show Map</button>
  </p>

  <div id="gmap" style="width : 500px; height : 500px;"></div> 
</body> 
</html> 
